.homebody{
    background-color: goldenrod;
    width: auto;
    height: auto;
}




#mainheader {
    text-align: center;
    font-weight: 900;
    font-size: xx-large;
    align-content: center;
    padding: 10px;
}

.questions {
    align-content: center;
}



strong {
    font-weight:bold;
}